{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login2.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Comfortaa">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
        <form method="POST">

            <p>Usuário</p>
            <input type="text" name="" placeholder="Seu Usuário" required maxlength="16">
            <p>Senha</p>
            <input type="password" name="" placeholder="Sua Senha" maxlength="16">
            <input type="submit" name="" value="login" >
            <a href="#">Esqueceu sua senha?</a><br>
            <a href="/register">Ainda não possui conta?</a><br>
            <a href="/">Início</a>

        </form>
    </div>
</body>
</html>